################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/REST API/bin/Debug/net7.0
/REST API/obj
